h2 Новинки месяца
.news-block-items
  .item-block
    .img-block
      img(src="assets/images/content/1.jpg")
    .btn-block
    .info-block
      .description Браслет и серьги из хромдиопсида ювелирной огранки
      .commit Комментарий к украшению
      .price 2600 руб.
      .discount ваша скидка -7%
  .item-block
    .img-block
      img(src="assets/images/content/2.jpg")
    .btn-block
    .info-block
      .description Браслет и серьги из хромдиопсида ювелирной огранки
      .commit Комментарий к украшению
      .price 2600 руб.
      .discount ваша скидка -7%
  .item-block
    .img-block
      img(src="assets/images/content/3.jpg")
    .btn-block
    .info-block
      .description Браслет и серьги из хромдиопсида ювелирной огранки
      .commit Комментарий к украшению
      .price 2600 руб.
      .discount ваша скидка -7%
  .item-block
    .img-block
      img(src="assets/images/content/4.jpg")
    .btn-block
    .info-block
      .description Браслет и серьги из хромдиопсида ювелирной огранки
      .commit Комментарий к украшению
      .price 2600 руб.
      .discount ваша скидка -7%
  .item-block
    .img-block
      img(src="assets/images/content/5.jpg")
    .btn-block
    .info-block
      .description Браслет и серьги из хромдиопсида ювелирной огранки
      .commit Комментарий к украшению
      .price 2600 руб.
      .discount ваша скидка -7%
  .item-block
    .img-block
      img(src="assets/images/content/6.jpg")
    .btn-block
    .info-block
      .description Браслет и серьги из хромдиопсида ювелирной огранки
      .commit Комментарий к украшению
      .price 2600 руб.
      .discount ваша скидка -7%

