.header-item
  a.link(href="#")
    .icon
      img(src="assets/icons/search.svg")
.header-item
  a.link(href="#")
    .icon
      img(src="assets/icons/instagram.svg")
.header-item
  a.link(href="#")
    .icon
      img(src="assets/icons/user.svg")
.header-item
  a.link(href="#")
    .icon
      img(src="assets/icons/favourite.svg")
.header-item
  a.link(href="#") &nbsp;корзина
    .icon
      img(src="assets/icons/icon-cart.svg")
